<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Imagen</td>
        <td>Nombre</td>
        <td>Descripciòn</td>
        <td>Precio</td>
        <!--ACICONES-->
        <td>
            <button id="btn-acs" type="button" class="btn btn-warning">Edit</button>
            <button id="btn-acs" type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
